extends layout

block content
  h1 Welcome to #{title}
  a(href="/new") Add New Message
  br
  br
  div
    each message in messages
      h4= message.user
      p= message.text
      p= message.added
  div
  br
  br